asgiref
bokeh
botocore
configobj
dj-database-url
Django
django-environ
docutils
fsspec
gunicorn
Jinja2
jmespath
MarkupSafe
numpy
packaging
pandas
Pillow
psycopg2-binary
pyparsing
python-dateutil
pytz
PyYAML
s3fs
s3transfer
six
sqlparse
tornado
typing-extensions
urllib3
whitenoise