DEBUG=True

SECRET_KEY=DJANGO-SECRET_KEY

DATABASE_URL='postgres://user_name:password@server:5432/database_name?sslmode=require'

# Set at 0.0003 (1 second), this will cause a full refresh of the data on each page load
HOURS_BETWEEN_DATA_REFRESH=0.0003

# Stage S3
S3_BUCKET='xr-impact-dashboard-test'
AWS_ACCESS_KEY_ID='AWS_ACCESS_KEY'
AWS_SECRET_ACCESS_KEY='AWS_SECRET_ACCESS_KEY'
